@import "tailwindcss";

@font-face {
  font-family: "Vazir";
  src: url(../public/Fonts/Vazir/Vazirmatn-Bold.ttf);
}

@font-face {
  font-family: "Signka";
  src: url(../public/Fonts/Signika/Signika-SemiBold.ttf);
}

@theme {
  --font-main: "Signka";
  --font-rtl: "Vazir"
}